
<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Lé Blog de Chasé</title>
  <meta name="author" content="Chase Wilson">

  
  <meta name="description" content="An exercise in event based programming Events in the wild Describe Event Based architectures, and list off patterns.
- Mediator Pattern
- Hollywood &hellip;">
  

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  
  <link rel="canonical" href="
	http://jiggliemon.github.com
	
		
	
  ">
  <link href="/favicon.png" rel="icon">
  <link href="/css/styles.css" media="screen, projection" rel="stylesheet" type="text/css">
  <script src="/js/modernizr-2.0.js"></script>
  <link href="/atom.xml" rel="alternate" title="Lé Blog de Chasé" type="application/atom+xml">
  <!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">

  
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-30450217-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>


</head>

<body   >
  <div class="container">
    <hgroup>
  <h1>Lé Blog de Chasé</h1>
  
    <h2>Random words regarding JavaScript && motorcycles.</h2>
  
</hgroup>


    <!-- <ul class="subscription" data-subscription="rss">
  <li><a href="/atom.xml" rel="subscribe-rss" title="subscribe via RSS">RSS</a></li>
  
</ul> -->
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li><a href="/">Blog</a></li>
        <li><a href="/blog/archives">Archives</a></li>
      </ul>

      
      <form action="http://google.com/search" class="navbar-search pull-right" method="get">
        <fieldset role="search">
          <input type="hidden" name="q" value="site:jiggliemon.github.com" />
          <input type="text" placeholder="search" class="input-medium search-query">
        </fieldset>
      </form>
      
    </div>
  </div>
</div>




    <div id="main-wrapper">
      <div id="main-inner" class="row">
        <div class="blog-index span9">
  
  
  
    <article >
      
  <header>
    
      <h1 class="entry-title"><a href="/blog/2012/02/23/a-walk-through-clientside-events/">A Walk Through Clientside Events</a></h1>
    
    
      <p class="meta">
        








  


<time datetime="2012-02-23T00:00:00-08:00" pubdate data-updated="true">Feb 23<span>rd</span>, 2012</time>
        
      </p>
    
  </header>


  <div class="entry-content"><h2>An exercise in event based programming</h2>

<h3>Events in the wild</h3>

<p>Describe Event Based architectures, and list off patterns.<br/>
- Mediator Pattern<br/>
- Hollywood Pattern</p>

<p>The DOM has built in events on elements<br/>
- the DOM is a bad place to store you logical code.<br/>
- DOM events should act as relays to a more ubiquitous event handling system</p>

<ul>
<li><p><a href="http://www.youtube.com/watch?v=vXjVFPosQHw">Scalable JavaScript Application Architecture</a> by <a href="https://twitter.com/slicknet">Nicholas Zakas</a></p></li>
<li><p><a href="http://twitter.com/addyosmani">Addy Osmani</a> expands on Zakas&#8217;s talk in <a href="http://addyosmani.com/largescalejavascript">Pattens for Large-Scale JavaScript Application Architecture</a>.</p></li>
<li><p><a href="http://keetology.com/blog/2010/10/01/modules-and-callbacks-going-hollywood-with-mootools">Modules and Callbacks: Going Hollywood with Mootools</a> by <a href="https://twitter.com/keeto">Mark Obcena</a></p></li>
</ul>


<h3>The Goals</h3>

<ul>
<li>Decouple objects</li>
<li>Provide consistency and transparency</li>
</ul>


<h3>Basic Event Structure</h3>

<p>For simplicity&#8217;s sake, we&#8217;re going to place our Mediator object in the global space and we&#8217;re going to assume some ES5 methods are available.</p>

<ul>
<li><h5>Mediator#addEvent</h5>

<p>We need a way to queue up events</p></li>
<li><h5>Mediator#removeEvent</h5></li>
<li><h5>Mediator#fireEvent</h5></li>
</ul>


<p>Some Description:</p>

<pre><code>(function (win, undefined) {

    function remove (from, to) {
        var rest = this.slice((to || from) + 1 || this.length);
        this.length = from &lt; 0 ? this.length + from : from;
        return this.push.apply(this, rest);
    }

    win.Mediator = {
        _events: {}
        addEvent: function (key, fn) {
            var event = _events[key] || [];
            event.push(fn);
        },
        removeEvent: function (key, fn) {
            var event = _events[key];
            if(event === undefined) {
                event.forEach(function(func, i){
                    if(func === fn) {
                        event = remove.call(event,i); 
                    }
                })
            }
        },
        fireEvents: function (key) {
            var args = Array.prototype.slice.call(arguments, 1),
                event = this._events[key];
            if(event === undefined) {
                event.forEach(function(fn,i) {
                    fn.apply(this,args);
                });
            }
        }
    };
}(window));
</code></pre>

<h4>Drawbacks of using <code>Mock</code> events</h4>

<h3>Latched Events</h3>

<ul>
<li>Examples of native latched events</li>
<li>When you want to latch an event</li>
<li>Code examples</li>
</ul>


<p>Something</p>

<pre><code>Mediator.addEvent('DOM.ready', function() {

});
</code></pre>

<h3>Compound Events</h3>

<pre><code>Mediator.addEvent(['DOM.ready','FB.ready'], function() {

});
</code></pre>

<h3>A Practical Example</h3>
</div>
  
  


    </article>
  
  
    <article >
      
  <header>
    
      <h1 class="entry-title"><a href="/blog/2011/12/16/labled-statements-in-javascript/">Labled Statements in Javascript</a></h1>
    
    
      <p class="meta">
        








  


<time datetime="2011-12-16T00:00:00-08:00" pubdate data-updated="true">Dec 16<span>th</span>, 2011</time>
        
      </p>
    
  </header>


  <div class="entry-content"><h3>Background</h3>

<p>A few months back I was reading the <a href="http://mootools.net">MooTools</a> project <a href="https://github.com/mootools/slick">slick.js</a> and I saw some <a href="https://github.com/mootools/slick/blob/master/Source/Slick.Finder.js#L277">bit of code</a> that I was sure would cause a syntax error.</p>

<p><code>simpleSelectors: if (simpleSelector) {…}</code></p>
</div>
  
  


    </article>
  
  
    <article >
      
  <header>
    
      <h1 class="entry-title"><a href="/blog/2011/04/30/custom-class-constructors-with-interface-enforcement-in-mootools/">Custom Class Constructors With Interface Enforcement in Mootools</a></h1>
    
    
      <p class="meta">
        








  


<time datetime="2011-04-30T00:00:00-07:00" pubdate data-updated="true">Apr 30<span>th</span>, 2011</time>
        
      </p>
    
  </header>


  <div class="entry-content"><p>Chris Pojer&#8217;s Interface class mutates a class, and inforces a well architected interface on your class.  The Interface is checked when the class&#8217;s &#8220;initialize&#8221; method is run. What we&#8217;re doing here is attaching a pre-defined interface to a new <code>Module</code> constructor.  This module constructor ensures that the <code>namespace</code> property is declared - an is a string; Also it states that <code>theother</code> property is a function.  This is how I enforce a particular class structure on the rest of the team for large scal projects.</p>

<p>For more information on this particular Interface mixin, look at <a href="http://cpojer.net/MooTools/interface/Demos/Example.js" target="_blank">this example</a> and download Chris Pojer&#8217;s interface <a href="https://github.com/cpojer/mootools-interface" target="_blank">here</a>.</p>

<pre><code>var TheModuleInterface = new Interface({
      namespace: String,
      theother: Function
});

var Module = new Type('Module', function (params){
    // Mind the order.  Your Interface needs to be the first argument when appending.
    params = Object.append({ Interface: TheModuleInterface }, params || {} ) ;
    return new Class(params);
});

var aModuleInstance = new Module({
    theother: "some string",
    namespace: {some:'object'},
    initialize: function(){
        // Remember your module needs an initialize method...
    }
});
var theMod = new Mod(); // Uncaught Error: Property "namespace" is implemented but not an instance of "String"
</code></pre>
</div>
  
  


    </article>
  
  <div class="pagination">
    
    <a href="/blog/archives">Blog Archives</a>
    
  </div>
</div>
<aside class="sidebar span3">
  
    <section>
  <h3>Recent Posts</h3>
  <ul id="recent_posts">
    
      <li class="post">
        <a href="/blog/2012/02/23/a-walk-through-clientside-events/">A walk through clientside events</a>
      </li>
    
      <li class="post">
        <a href="/blog/2011/12/16/labled-statements-in-javascript/">Labled statements in javascript</a>
      </li>
    
      <li class="post">
        <a href="/blog/2011/04/30/custom-class-constructors-with-interface-enforcement-in-mootools/">Custom Class Constructors With Interface Enforcement In Mootools</a>
      </li>
    
  </ul>
</section>

<section id="section-github" class="loading">
  <h3>Github Repos</h3>
  
  <a href="https://github.com/jiggliemon">@jiggliemon</a> on Github
  
  <script id="gh-repos-template" type="text/template">
    <dl id="gh-repos" bind="wrapper">
      <% for ( var key in repos ) { %>
        <% if(repos.hasOwnProperty(key)) { %>
          <% var repo = repos[key] %>
          <dt><a href="<%= repo.url %>"><%= repo.name %></a></dt>
          <% if(repo.description) { %>
            <p><a href="<%= repo.url %>"><%= repo.description %></a></p>
          <% } %>
        <% } %>
      <% } %>
    </dl>
  </script>
</section>


<section id="section-twitter" class="loading">
  <h3>Latest Tweets</h3>
  <ul id="latest-tweets">
    <li class="loading">Status updating&#8230;</li>
  </ul>
  
    <a href="http://twitter.com/jiggliemon" class="twitter-follow-button" data-show-count="false">Follow @jiggliemon</a>
  
</section>





  
</aside>

      </div>
    </div>
  </div>
  <footer role="contentinfo"><p>
  Copyright &copy; 2012 - Chase Wilson -
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
</p>

</footer>
  







  <script type="text/javascript">
    (function(){
      var twitterWidgets = document.createElement('script');
      twitterWidgets.type = 'text/javascript';
      twitterWidgets.async = true;
      twitterWidgets.src = 'http://platform.twitter.com/widgets.js';
      document.getElementsByTagName('head')[0].appendChild(twitterWidgets);
    })();
  </script>



<script src="//ajax.googleapis.com/ajax/libs/mootools/1.4.5/mootools-yui-compressed.js"></script>

<script src="/js/github.js"> </script>



</body>
</html>
