{% if site.github_user %}
<section id="section-github" class="loading">
  <h3>Github Repos</h3>
  {% if site.github_show_profile_link %}
  <a href="https://github.com/{{site.github_user}}">@{{site.github_user}}</a> on Github
  {% endif %}
  <script id="gh-repos-template" type="text/template">
    <dl id="gh-repos" bind="wrapper">
      <% for ( var key in repos ) { %>
        <% if(repos.hasOwnProperty(key)) { %>
          <% var repo = repos[key] %>
          <dt><a href="<%= repo.url %>"><%= repo.name %></a></dt>
          <% if(repo.description) { %>
            <p><a href="<%= repo.url %>"><%= repo.description %></a></p>
          <% } %>
        <% } %>
      <% } %>
    </dl>
  </script>
</section>
{% endif %}
