<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li><a href="{{ root_url }}/">Blog</a></li>
        <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
      </ul>

      {% if site.simple_search %}
      <form action="{{ site.simple_search }}" class="navbar-search pull-right" method="get">
        <fieldset role="search">
          <input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}" />
          <input type="text" placeholder="search" class="input-medium search-query">
        </fieldset>
      </form>
      {% endif %}
    </div>
  </div>
</div>

